<main class="b-main" role="main">
  <div class="l-wrapper">
    {{outlet}}
  </div>
</main>

<footer class="b-footer" role="contentinfo">
  <div class="b-footer__layout">
    <div class="b-footer__copyright">
      Made with <b class="b-footer__copyright_hl">passion</b> by TEAM</div>
  </div>
</footer>
